<div *ngIf="isOpen" class="thank-you">
  <div class="thank-you__wrapper">
    <div class="thank-you__close" (click)="close()"></div>
    <h1 class="thank-you__title">Dziekuje za obejrzenie mojego rekrutacyjnego projektu</h1>
    <p>
      Bardzo mi zależy na panstwa odpowiedż. <br />
      Starałem się użyć wszystkiego co umiem i nawet kilka rzeczy, <br />
      które nauczyłem się podczas robienia tego projektu. <br />
      Miłego dnia:)
    </p>
    <p>Lepiej stronę włączyć w przeglądarce bez CORS</p>
  </div>
</div>
