/* Main Variables */
$mainFontSize: 16px;
$jediFontFamily: 'Star Jedi', arial;
$montserratFontFamily: 'Montserrat', sans-serif;

/* Colors */
$colorMain: black;
$colorMain2: white;
$colorOperate: #f8ee51;

/* Breakpoints */
$tabletBp: 768px;
